// USER VARIABLES SECTION
$fontsize: 16px; // Body Font Size
$base-font-size: $fontsize;
$textcolor: #272727; // Text Color
$mainfamily: Circe, sans-serif; // Main Font Family
$base-duration: 0.15s;
$base-timing: ease-in-out;

// BP
$mobile-bp: 992px;

// COLORS
$accent: #592c82;
$purple: #9776b2;
