.page-contacts {
  .page-contacts-breadcrumbs-section {
    padding: 28px 0 36px;
  }
  .page-contacts-breadcrumbs {
    display: flex;
    font-size: 14px;
    padding-bottom: 12px;
    border-bottom: 1px solid #bebebe;
  }
  .page-contacts-breadcrumbs-item {
    color: $textcolor;
    &:hover {
      color: $accent;
    }
  }
  .page-contacts-breadcrumbs-item-last {
    color: $accent;
  }
  .h1--page-contacts {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: normal;
  }
  .h2--page-contacts {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 32px;
  }
  .page-contacts-map-section {
    overflow: hidden;
    padding: 0 0 25px 0;
  }
  .container--page-contacts-map {
    position: relative;
    height: 508px;
    max-width: 1920px;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    @media screen and (max-width: $mobile-bp) {
      height: auto;
      padding-top: 508px;
    }
  }
  .page-contacts-map-content {
    position: absolute;
    top: 0;
    width: 75%;
    height: 508px;
    padding: 0;
    margin: 0;
    @media screen and (max-width: $mobile-bp) {
      width: 100%;
    }
  }
  .page-contacts-map-content--1 {
    left: 0;
  }
  .page-contacts-map-content--2 {
    right: 0;
  }
  .container--page-contacts-map1 {
    margin-bottom: 42px;
  }
  .container--page-contacts-map2 {
    margin-bottom: 65px;
  }
  .page-contacts-map-col {
    max-width: 50%;
    flex-basis: 50%;
    @media screen and (max-width: 1300px) {
      max-width: 60%;
      flex-basis: 60%;
    }
    @media screen and (max-width: $mobile-bp) {
      max-width: 100%;
      flex-basis: 100%;
    }
  }
  .page-contacts-map-col--1 {
    margin-left: auto;
  }
  .page-contacts-map-inner {
    position: relative;
    padding: 30px 35px 35px 35px;
    @media screen and (max-width: $mobile-bp) {
      background-color: $purple;
      margin: 0 -15px;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      display: block;
      width: 960px;
      height: 100%;
      background-color: $purple;
      pointer-events: none;
      @media screen and (max-width: $mobile-bp) {
        display: none;
      }
    }
  }
  .page-contacts-map-inner--1 {
    top: -18px;
    right: 0;
    @media screen and (max-width: $mobile-bp) {
      top: 0;
    }
    &::after {
      left: 0;
    }
  }
  .page-contacts-map-inner--2 {
    top: 12px;
    left: 0;
    @media screen and (max-width: $mobile-bp) {
      top: 0;
    }
    &::after {
      right: 0;
    }
  }
  .page-contacts-map-text-block {
    position: relative;
    z-index: 2;
    margin-bottom: 35px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .page-contacts-map-text {
    display: block;
    font-size: 22px;
    font-weight: 300;
    color: #fff;
    line-height: 1.2;
  }
  a.page-contacts-map-text {
    &:hover {
      color: rgba($color: #fff, $alpha: 0.8);
    }
  }
  .page-contacts-map-img {
    position: absolute;
    display: block;
    z-index: 2;
    @media screen and (max-width: $mobile-bp) {
      display: none;
    }
  }
  .page-contacts-map-img--1 {
    width: 439px;
    left: 282px;
    bottom: -102px;
    @media screen and (max-width: 1300px) {
      width: 379px;
      left: 239px;
      bottom: -32px;
    }
  }
  .page-contacts-map-img--2 {
    width: 439px;
    left: 292px;
    bottom: -25px;
    @media screen and (max-width: 1300px) {
      width: 379px;
      left: 300px;
      bottom: 35px;
    }
  }
  .page-contacts-map-icon {
    display: block;
    width: 50px;
    height: auto;
    margin: 0 0 24px 24px;
  }
  .container--contacts-form-section-info {
    margin-bottom: 32px;
  }
  .feedback-form-popup {
    display: block;
  }
  .page-contacts-form {
    position: relative;
    z-index: 2;
    background-color: #fff;
    padding: 28px 30px 20px 30px;
    margin: 62px auto 0 auto;
    max-width: 488px;
    width: 100%;
    box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.23);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-image: url("../images/dest/DSC_8893.jpg");
    @media screen and (max-width: 1300px) {
      margin: 0 auto;
    }
  }
  .page-contacts-form-title {
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
    color: $accent;
  }
  .page-contacts-form-section {
    margin-bottom: 55px;
  }
  .page-contacts-form-text {
    font-size: 18px;
    margin-bottom: 12px;
  }
  .page-contacts-form-col {
    max-width: 100%;
    flex-basis: 100%;
  }
  .page-contacts-form-item-col {
    max-width: 100%;
    flex-basis: 100%;
  }

  .page-contacts-form-item-col--2 {
    max-width: 100%;
    flex-basis: 100%;
    margin-right: 0;
  }
  .page-contacts-form-item {
    display: block;
    margin-bottom: 12px;
  }
  .page-contacts-form-item-title {
    font-size: 16px;
  }
  .page-contacts-form-item-input {
    width: 100%;
    height: auto;
    border: 1px solid #b5b5b5;
    padding: 10px 18px;
    font-size: 16px;
    font-weight: normal;
    max-width: 100%;
    line-height: 1.5;
    background-color: #fff;
    &:focus {
      border-color: #2b2b2b;
      outline: none;
    }
  }
  .page-contacts-form-item-input--textarea {
    resize: none;
    height: 128px;
  }

  .page-contacts-form-btns {
    display: flex;
    padding-top: 12px;
    margin-bottom: 20px;
    @media screen and (max-width: $mobile-bp) {
      flex-direction: column;
    }
  }
  .page-contacts-form-checkbox-inner {
    display: flex;
    align-items: flex-start;
  }
  .page-contacts-form-checkbox--wrapper {
    cursor: pointer;
    @media screen and (max-width: $mobile-bp) {
      margin-bottom: 24px;
    }
  }
  .page-contacts-form-checkbox {
    @extend .visually-hidden;
    &:checked + .page-contacts-form-checkbox-fake {
      &::after {
        opacity: 1;
      }
    }
    &:focus + .page-contacts-form-checkbox-fake {
      border-color: #2b2b2b;
    }
  }
  .page-contacts-form-checkbox-fake {
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid #b5b5b5;
    margin-right: 6px;
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 6px;
      height: 6px;
      background-color: #dc2c7a;
      opacity: 0;
    }
  }
  .page-contacts-form-checkbox-text {
    color: $textcolor;
    font-size: 12px;
    text-decoration: underline;
    &:hover {
      color: $accent;
    }
  }
  .page-contacts-form-btn {
    padding: 12px 32px 10px;
    background-color: #592c82;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    line-height: 1;
    &:hover {
      color: #fff;
      background-color: #dc2c7b;
    }
    &:disabled {
      opacity: 0.6;
      cursor: default;
      &:hover {
        color: #fff;
        background-color: #592c82;
      }
    }
  }
  .page-contacts-form-btn--submit {
    margin-left: auto;
    @media screen and (max-width: $mobile-bp) {
      margin-left: 0;
    }
  }
  .page-contacts-form-item-input--select {
    background-repeat: no-repeat;
    background-position: center right 10px;
    background-image: url("../images/dest/dd-arrow.png");
    appearance: none;
    padding: 10px 30px 10px 18px;
    cursor: pointer;
  }
  .page-contacts-form-sub-text {
    text-align: right;
    font-weight: 300;
    font-size: 12px;
  }
  .feedback-form-popup-overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }
  .page-contacts-form-btn-close {
    position: absolute;
    right: 12px;
    top: 12px;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg enable-background='new 0 0 512.001 512.001' viewBox='0 0 512.001 512.001' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23272727' d='m284.286 256.002 221.857-221.858c7.811-7.811 7.811-20.475 0-28.285s-20.475-7.811-28.285 0l-221.858 221.858-221.857-221.858c-7.811-7.811-20.475-7.811-28.285 0s-7.811 20.475 0 28.285l221.857 221.857-221.857 221.858c-7.811 7.811-7.811 20.475 0 28.285 3.905 3.905 9.024 5.857 14.143 5.857s10.237-1.952 14.143-5.857l221.856-221.857 221.857 221.857c3.905 3.905 9.024 5.857 14.143 5.857s10.237-1.952 14.143-5.857c7.811-7.811 7.811-20.475 0-28.285z'/%3E%3C/svg%3E");
    &:hover {
      opacity: 0.8;
    }
  }
  .page-contacts-form-btn--contacts {
    display: block;
    margin: 24px auto 0 auto;
  }
  .page-contacts-form-capcha {
    @media screen and (max-width: $mobile-bp) {
      margin-bottom: 24px;
    }
  }
}
